@font-face {
	font-family: Lobster_13;
	src: url('../Resources/fonts/Lobster_1.3.otf') format('opentype'),
        url('../Resources/fonts/Lobster_1.3.eot') format('embedded-opentype'),
        url('../Resources/fonts/Lobster_1.3.ttf') format('truetype');
}

$brand-color: #a94242;
$background-color: #333;
$top-panel-color: #222;
$font-default: #b0b0b0;

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: $background-color;
    color: $font-default;

    /* Set padding to keep content from hitting the edges */
    .body-content {
        padding-left: 15px;
        padding-right: 15px;
    }

    .btn-default {
        background-color: $top-panel-color;
        color: $font-default;
        border-color: $background-color;
        &:hover {
            background-color: black;
            color: $font-default;
            border-color: $background-color;
        }
    }

    .navbar {
        .navbar-logo {
            display: block;
            margin: 5px;
            margin-right: 30px;
            .title-logo {
                line-height: 40px;
                background: url(../Resources/images/driver.png) center left no-repeat;
                padding: 6px 0;
                padding-left: 45px;
                font-size: 28px;
                font-weight: bold;
                font-family: Lobster, Lobster_13;
                color: $brand-color;
            }
            &:hover {
                text-decoration: none;
            }
        }

        .navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
            color: $brand-color;
        }

    }

    /* Override the default bootstrap behavior where horizontal description lists 
       will truncate terms that are too long to fit in the left column 
    */
    .dl-horizontal dt {
        white-space: normal;
    }

    /* Set width on the form input elements since they're 100% wide by default */
    input,
    select {
        max-width: 280px;
    }

    .added-info {
        margin-top: 20px;
    }

    .items-container {
        padding-top: 30px;
    }

    .panel {
        background-color: $top-panel-color;
        border-color: $top-panel-color;
        .panel-heading {
            background-color: $top-panel-color;
            border-color: $background-color;
            .panel-title {
                margin-bottom: 3px;
                color: #fff;
                a {
                    color: #fff;
                }
            }
            .score-panel {
                color: #fff;
                font-weight: bold;
                .vote {
                    &:hover {
                        cursor: pointer;
                    }
                    margin: 0 2px;
                }
                #score {
                    margin: 0 10px;
                }
                & .undo {
                    color: gray;
                }
            }
        }
        .panel-body {
           background-color: $background-color;
            p, a {
                color: $font-default;
            } 
            .text-danger {
                color: #a94442;
            }
        }
    }

    .item-panel {
        .panel-heading {
            .score-panel {
                font-size: 20px;
            }
        }
        .player-container {
            background: black;
            margin-bottom: 10px;
        }
        .player {
            margin: 0 auto;
            display:block;
        }
        .divers, .table {
            margin-bottom: 3px;
            td {
                border-color: $top-panel-color;
            }
            .plate-col {
                width: 100px;
            }
            .score-col {
                width: 40px;
                text-align: right;
                .driver-score {
                    font-size: large;
                }
            }
            .vote-col {
                width: 20px;
                a:hover {
                    cursor: pointer;
                }
                span {
                    vertical-align: middle;
                }
            }
        }
        .panel-body p {
            padding: 10px;
        }
    }

    .comment {
        .score-panel {
            font-size: 16px;
        }
    }

    .add-item-container {
        .validation-summary-errors {
            ul {
                list-style: none;
            }
        }
        textarea {
            max-width: 600px;
        }

        .add-driver {
            a {
                color: $font-default;
                &:hover {
                    cursor: pointer;
                }
            }
        }

        .drivers-form {
            padding-left: 15px;
            display: table;
            .driver-form {
                display: block;
                margin: 20px 0;
                .editor-field:nth-child(2) {
                    max-width:150px;
                }
                @media screen and (min-width: 450px) {
                    .editor-field:nth-child(4) {
                        width:400px;
                        input {
                            max-width: 400px;
                        }
                    }
                }
            }
        }

    }

    footer {
        clear: both;
    }

}
