@{
    ViewBag.Title = "Potwierdzenie email";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Dziękujemy za potwierdzenie sowjego konta email. @Html.ActionLink("Kliknij aby się zalogować", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
