@model dynamic

<div class="item-comments panel panel-default panel-body">
    <div class="comment panel panel-default">
        <div class="panel-heading">Autor | data</div>
        <div class="panel-body">Tutaj treść komentarza</div>
    </div>
    <div class="comment panel panel-default">
        <div class="panel-heading">Autor | data</div>
        <div class="panel-body">Tutaj treść komentarza</div>
    </div>
    <div class="comment panel panel-default">
        <div class="panel-heading">Autor | data</div>
        <div class="panel-body">Tutaj treść komentarza</div>
    </div>
    <div class="comment panel panel-default">
        <div class="panel-heading">Autor | data</div>
        <div class="panel-body">Tutaj treść komentarza</div>
    </div>
</div>