@model IEnumerable<Driver.WebSite.Models.Comment>

<div class="item-comments panel panel-default panel-body">
    @foreach (var comment in Model)
    {
        <div class="comment panel panel-default">
            <div class="panel-heading">@comment.User.UserName | @comment.DateTime</div>
            <div class="panel-body">@comment.Text</div>
        </div>
    }
</div>