@model Driver.WebSite.ViewModels.DriverInfoViewModel

<div class="panel driver-panel">
    <div>
        <span class="score">@Model.DownVotesCount</span>
    </div>
    <div>
        <span class="plate">@Model.Plate</span>
    </div>
    <div>
        <span class="description">@Model.Description</span>
    </div>
</div>
